*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: Outfit, sans-serif;
}

body {
	font-size: 1.8rem;
	color: rgb(139, 172, 218);
}

.wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: rgb(13, 25, 43);
	padding: 40px 20px;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 380px;
	padding: 20px;
	border-radius: 10px;
	background: rgb(20, 37, 61);
	z-index: 100;
}

.logo {
	height: 350px;
	width: 100%;
	position: relative;
	background: url('images/image-equilibrium.jpg') center;
	background-size: cover;
	border-radius: 10px;
	margin-bottom: 20px;
}

.link {
	text-decoration: none;
	color: white;
}

.link:hover {
	color: rgb(0, 255, 247);
}

.logo__link {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 255, 247, 0.473);
	opacity: 0;
	transition: all .7s ease;
	border-radius: 10px;
}

.logo__link::before {
	content: '';
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	background: url('./images/icon-view.svg');
}

.logo:hover .logo__link {
	opacity: 1;
}

.title {
	font-weight: 600;
	margin-bottom: 20px;
}

.text {
	font-weight: 300;
	line-height: 2.8rem;
	margin-bottom: 20px;
}

.item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.item__coin-amount {
	color: rgb(0, 255, 247);
	padding-left: 20px;
}

.item__coin-amount::before {
	content: '';
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	left: -20px;
	top: 23px;
	background: url('./images/icon-ethereum.svg') no-repeat;
}

.item__days-counter::before {
	content: '';
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	left: -25px;
	top: 23px;
	background: url('./images/icon-clock.svg') no-repeat;
}

.profile {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid rgb(47, 65, 91);
	padding: 20px 0 5px 15px;
	align-items: center;
}

.profile::before {
	content: '';
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	background: url('./images/image-avatar.png') no-repeat;
	background-position: 0 0;
	background-size: contain;
	border: 1px solid white;
	border-radius: 50%;
	left: -15px;
}

.profile__link {
	padding-left: 4px;
}

/* mobile */
@media (max-width: 480px) {
	.logo {
		height: 270px;
	}

	html {
		font-size: 58%;
	}

	.profile::before {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 300px) {
	html {
		font-size: 48%;
	}

	.logo {
		height: 240px;
	}

	.text {
		margin: 0;
	}
}